<div class="segmented-tabs" role="tablist" aria-label="Crawl views">
  <button
    type="button"
    class="seg-pill"
    aria-controls="pages-scanned"
    aria-selected="true"
    data-tab-target="#pages-scanned"
  >
    <span id="totalPagesScannedLabel">
      N/A
    </span>
    <span>
      &nbsp;Pages Scanned
    </span>
  </button>

  <button
    type="button"
    id="seg-not-scanned"
    class="seg-pill"
    aria-controls="pages-not-scanned"
    aria-selected="false"
    data-tab-target="#pages-not-scanned"
  >
    <span id="totalPagesNotScannedLabel">
      N/A
    </span>
    <span>
      &nbsp;Pages Not Scanned
    </span>
  </button>

  <button
    type="button"
    id="seg-unsupported"
    class="seg-pill"
    aria-controls="pages-unsupported"
    aria-selected="false"
    data-tab-target="#pages-unsupported"
  >
    <span id="totalUnsupportedDocsLabel">
      N/A
    </span>
    <span>
      &nbsp;Unsupported Documents
    </span>
  </button>
</div>
