<div id="wcagCoverage" class="my-3">
  <h5 class="fw-semibold mb-2">
    <span id="wcagAALabelCount">20</span> (A &amp; AA) WCAG Success Criteria
  </h5>
  <div class="wcag-box">
    <ul id="wcagLinksListAA" class="wcag-grid list-unstyled m-0">
      <!-- dynamically populated -->
    </ul>
  </div>
  <h5 class="fw-semibold mt-4 mb-2">
    <span id="wcagAAALabelCount">6</span> (AAA) WCAG Success Criteria
  </h5>
  <div class="wcag-box">
    <ul id="wcagLinksListAAA" class="wcag-grid list-unstyled m-0">
      <!-- dynamically populated -->
    </ul>
  </div>
</div>
