<figure id="wcagGauge"
				class="wcag-gauge"
				role="img"
				aria-label="WCAG A & AA automated checks passed">
	<svg viewBox="0 0 100 60" aria-hidden="true" focusable="false">
		<path class="gauge-track" d="M10,50 A40,40 0 0 1 90,50" />
		<path class="gauge-fill" id="gaugeFill" d="M10,50 A40,40 0 0 1 90,50" />
	</svg>

	<figcaption class="gauge-center">
		<span class="gauge-number">
			<span id="gaugeValueNumber" class="gauge-value-number">0</span>/<span id="gaugeValueTotal">0</span>
		</span>
	</figcaption>
	<div class="gauge-caption">Target to meet: <span id="gaugeTarget">20</span></div>
</figure>
