<div id="allIssuesSection" class="card rounded mt-4">
  <div class="card-body">
    <div class="d-flex flex-row gap-5 mb-3">
      <h2>All Issues</h2>
      <%- include('./CategoryBadges') %>
    </div>
    <%- include('./FilterBar') %> <%- include('./IssuesTable') %>
  </div>
</div>
