<header class="w-100">
  <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24Z"
      fill="white"
    />
    <path
      d="M24 9C13.5686 9 12 13.2831 12 20.0321V27.9679C12 34.7169 13.5686 39 24 39C34.4314 39 36 34.7169 36 27.9679V20.0136C36 13.2645 34.4314 9 24 9ZM25.7647 16.157V33.2151H22.2353V14.7849H27.902L25.7647 16.157Z"
      fill="#5735DF"
    />
  </svg>

  <h1 class="header-title">Accessibility Report</h1>
</header>
